<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">FrontEnd</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">
            <i class="fas fa-solid fa-building"></i>
            Buildings
            
            <span class="sr-only">(current)</span></a>
        </li>
        
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <i class="fas fa-users-cog"></i>
              Customers
              <span class="sr-only">(current)</span></a>
          </li>
          
            <li class="nav-item active">
              <a class="nav-link" href="#">
                <i class="fas fa-solid fa-hashtag"></i>
                Part Numbers
                <span class="sr-only">(current)</span></a>
            </li>
         
      </ul>
     
    </div>
  </nav>
  