

<div class="container">
    <br>
<table class="table table-striped">
    <thead>
        <th>Customer</th>
        <th>Prefix</th>
        <th>Building</th>
        <th>Is avaliable</th>
        <th>Edit</th>
        <th>Delete</th>


    </thead>
    <tr *ngFor="let list of customerservice.list">
    <td>{{ list.customer}}</td>
    <td>{{ list.prefix}}</td>
    <td>{{ list.building}}</td>
    <td>{{ list.available}}</td>
    


   
    <td>
        <i class="far fa-edit fa-lg text-info" style="cursor: pointer"></i>
    </td>
    <td>
        <i class="far fa-trash-alt fa-lg text-danger" style="cursor: pointer"></i>
    </td>
</tr>
</table>
</div>